body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}

header {
    background-image: url(../jpg/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header-line {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    transition: 0.6s;
    margin-right: 25px;
}

.nav-item:hover {
    color: #FF7400;
}

.num {
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    transition: 0.6s;
}

.num:hover {
    color: #FF7400;
}

.phone-text {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.btn {
    text-decoration: none;
    background-color: #FF7400;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
    transition: 0.6s;
}

.btn:hover {
    color: #FF7400;
    background-color: white;
}

.header-down {
    position: relative;
}

.header-title {
    color: #D67E35;
    font-weight: 400;
    font-size: 50px;
    padding-top: 275px;
    text-align: center;
    position: absolute;
    font-family: 'Tinos', serif;
    left: 80px;
    margin-bottom: 12px;
}

.header-subtitle {
    color: #D67E35;
    font-weight: 400;
    font-size: 80px;
    font-family: 'Tinos', serif;
}

.header-suptitle {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header-suptitle::before {
    background-color: #fff;
    height: 2px;
    width: 61px;
    content: '';
    position: absolute;
    top: 437px;
    left: 87px;
}

.header-suptitle::after {
    background-color: #fff;
    height: 2px;
    width: 61px;
    content: '';
    position: absolute;
    top: 437px;
    left: 335px;
}

.header-btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
}

.header-btn:hover {
    background-color: #fff;
    color: #FF7400;
}

.cards-holder {
    display: flex;
    justify-content: center;
}



.card {
    box-shadow: 10px 10px 40px 20px #0000001A;
    background-color: #fff;
    margin-top: -90px;
    font-family: 'Tinos', serif;
    width: 349px;
    margin-right: 30px;
    padding: 10px 10px;
}

.cards-img {
    padding-top: 35px;
    display: flex;
    text-align: center;
    justify-content: center;

}

.card-title {
    font-weight: 400;
    font-size: 26px;
    color: #656363;
    display: flex;
    text-align: center;
    justify-content: center;

}

.card-description {
    font-weight: 400;
    font-size: 26px;
    color: #656363;
    padding-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;

}

.span-card {
    color: #BC9060;
}

.history-info {
    width: 444px;
    padding-left: 220px;
}

.history-title {
    margin-top: 166px;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    justify-content: center;
}

.history-title span {
    color: #D67E34;
}

.history-desk {
    margin-top: 21px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}

.history-footer {
    font-size: 40px;
    font-weight: 400;
    margin-top: 39px;
    color: #BC9060;
    text-align: center;
    display: flex;
    justify-content: center;
}

.history-footer span {
    display: block;
    font-size: 20px;
    color: black;
}

.history-img {
    position: relative;
}

.img-history1 {
    position: absolute;
    top: 181px;
    left: -703px;
    z-index: 4;
}

.img-history2 {
    position: absolute;
    top: 341px;
    left: -416px;
    z-index: 3;
}


.img-history3 {
    position: absolute;
    top: 133px;
    left: -518px;
    z-index: 2;
}

.img-history4 {
    position: absolute;
    top: 262px;
    left: -302px;
    z-index: 0;
}

.history-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.black-block {
    margin-bottom: 132px;
    background-image: url(jpg/bg2.png);


}

.black-holder {
    padding: 100px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;


}



.black-title {
    color: #D67E34;
    font-size: 52px;
    font-weight: 400;
    font-family: 'Tinos', serif;
}

.desk-black {
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.btn-right {
    padding: 14px 20px;
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
}

.btn-right:hover {
    color: #FF7400;
    background-color: #ffffff;
}

.mtitle {
    font-family: 'Tinos', serif;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 54px;
}

.mtitle span {
    color: #D67E34;
    font-family: 'Tinos', serif;
}

.menu-title {
    align-items: center;
}

.pizza-burger {
    padding-top: 143px;
    display: flex;

}

.pizza-img {
    padding-right: 20px;
}

.burger-items {
    align-items: center;
}

.burger-item {
    padding-top: 15px;
    display: flex;
    align-items: center;
    font-family: 'Tinos', serif;
    font-size: 30px;
    font-weight: 400;
}

.burger-img {
    padding-right: 20px;
}


.main-menu {
    background-size: cover;
    margin-top: 170px;
    background-image: url(jpg/main-menu.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.main-menu-title {
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 54px;
    font-weight: 400;
    box-shadow: 5px 5px 4px 0px #00000040;
    font-family: 'Tinos', serif;
}

.menu-items {
    margin-top: 140px;
    background-color: #fff;
    width: 350px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-right: 30px;
}

.menu-item-title {
    padding-top: 16px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Tinos', serif;
}

.menu-desk {
    padding-top: 17px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

.menu-all {
    display: flex;
    justify-content: center;

}

.menu-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 65px;
    background-color: #D67E34;
    text-decoration: none;
    box-shadow: 5px 5px 10px 0px #00000040;
    transition: 0.5s;
}



.menu-img{
    align-items: center;
}

.menu-number-img {
    position: absolute;
    bottom: 38px;
    left: 260px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Cookie', cursive;
}

.review {
    background-color: #E5E5E5;
    text-align: center;
    justify-content: center;
    padding-bottom: 107px;
}

.review-text {
    padding-top: 104px;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
}

.photo-review {
    border-radius: 50%;
    padding-bottom: 17px;
}

.visitor {
    padding-top: 7px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.review-name {
    padding-top: 9px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.circles {
    margin-top: 36px;
    display: flex;
    justify-content: center;

}

.circl1 {
    margin-right: 7px;
    background-color: #C4C4C4;
    padding: 4px 4px;
    border-radius: 50%;
}

.circl2 {
    margin-right: 7px;
    background-color: #C4C4C4;
    padding: 4px 4px;
    border-radius: 50%;
}

.circl3 {
    background-color: #E5E5E5;
    padding: 8px 8px;
    border-radius: 50%;
    border: 1px solid #FF7400;
}

.galery-title {
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    font-family: 'Tinos', serif;
    padding-bottom: 60px;
}

.title-span {
    color: #D67E34;
    font-size: 54px;
    font-weight: 400;
    font-family: 'Tinos', serif;
}

.galery {
    margin-top: 101px;
}

.galery-img-all {
    display: flex;
    justify-content: center;
}

.galery-left-img {
    margin-right: 30px;
}

.coffee {
    margin-right: 26px;
}

.coffee-borch {
    padding-top: 30px;
}

.cook-title {
    margin-top: 100px;
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    font-family: 'Tinos', serif;
    color: black;
    margin-bottom: 107px;
}

.our-cook {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cook-title span {
    color: #D67E34;
}

.cook-img {
    text-align: center;
    align-items: center;
}

.cook1 {
    margin-right: 32px;
}

.cook2 {
    margin-right: 32px;
}


.footer-img {
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width:1299px) {

    .pizza-burger{
        width: auto;
        display: block;
        align-items: center;
    }

    .burger-item-spun{
        display: none;
    }

    .burger-item{
        width: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: auto;

    }

}

@media (max-width:400px) {

    .pizza-burger{
        width: auto;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .burger-item-spun{
        display: none;
    }

    .burger-item{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: auto;
        font-size: 25px;
        
    }
    

    .pizza-img{ 
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;}
}

@media (max-width: 1473px){
   .menu-all{
    display: flex;
    
   } 
   .e1473{
    display: none;
   }
}

@media (max-width:1150px) {
    .menu-items-all{
        display: none;
    }
    .menu-all{
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width:600px) {
    .menu-items{
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
    }
    .menu-all{
        padding-left: 25px;
    }
    .menu-btn{
        padding-bottom: -90;
    }
    .menu-desk{
        font-size: 15px;
        padding-bottom: 27px;
    }
}

@media (max-width:400px) {
    .menu-items{
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
    }
    .menu-all{
        padding-left: 25px;
    }
    .menu-btn{
        padding-bottom: -90;
    }
    .menu-desk{
        font-size: 15px;
        padding-bottom: 27px;
    }
    .main-menu-title{
        font-size: 35px;
    }
}

@media (max-width:1400px) {
    .review {
        display: block;
        padding-top: 20px;
    }
}

@media (max-width:600px) {
    .review {
        display: flex;
        flex-wrap: wrap;
    }

    .review-text {
        flex: 1 0 25%;
        min-width: 500px;
        max-width: 100%;
        height: 250px;
        font-size: 20px;
    }

}

@media (max-width:480px) {
    .review {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .review-text {
        flex: 1 0 25%;
        min-width: 230px;
        max-width: 100%;
        height: 250px;
        font-size: 15px;
    }

}

@media (max-width:600px) {
    .footer-img {
        display: none;
    }
}

@media (max-width:1440px) {

    .galery {
        text-align: center;
        justify-content: center;
    }

    .galery-left-img {
        margin-right: auto;
        margin-left: auto;
    }

    .coffee {
        margin-right: 23px;
        margin-left: auto;
    }

    .borch {

        margin-right: auto;
        margin-left: auto;
    }


}

@media (max-width:1366px) {

    .galery {

        text-align: center;
        justify-content: center;
    }

    .galery-left-img {


        margin-right: auto;
        margin-left: auto;
    }

    .coffee {

        margin-right: 23px;
        margin-left: auto;
    }

    .borch {


        margin-right: auto;
        margin-left: auto;
    }

    .galery-left-img {
        display: none;
    }
}

@media (max-width:550px) {

    .galery-title {
        text-align: center;
        font-size: 35px;
    }

    .galery {
        display: block;
        text-align: center;
        justify-content: center;
    }

    .galery-left-img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .coffee {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .borch {
        padding-top: 20px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .galery-left-img {
        display: none;
    }
}

@media (max-width:1441px) {
    .cook-img {
        display: block;

        align-items: center;
        text-align: center;
    }

    .cook1 {
        margin-right: auto;
        margin-left: auto;
    }

    .cook2 {
        margin-right: auto;
        margin-left: auto;
    }

    .cook3 {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width:600px) {

    .cook-title {
        text-align: center;
        font-size: 35px;
    }

    .cook-img {
        position: relative;
        padding-bottom: 500px;
    }

    .cook1 {
        position: absolute;
        left: -155px;
    }

    .cook2 {
        position: absolute;
        bottom: -450px;
        left: -155px;
    }

    .cook3 {
        bottom: -950px;
        position: absolute;
        left: -155px;
        
    }

}